<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="https://s00189591.s3.eu-west-1.amazonaws.com/pencil.png" width="30"
            height="30" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand">WorkWeek</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Rota</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="employees">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create">Register New Employee</a>
            </li>
        </ul>
    </div>
</nav>
  <body>
    <div class="grid">
<ng-container *ngFor="let e of listEmployees">
    <div class="container-fluid" style="padding-bottom: 20px;">
        <br>
        <!-- Employee Card -->
        <div class="row">
            <!--Monday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">{{e.firstName}} {{e.lastName}}</div>
                    <div class="card-body">
                        <img *ngIf="e.isManager == true" class="avatar" src="https://s00189591.s3.eu-west-1.amazonaws.com/manager.png" alt="Card image cap">
                        <img *ngIf="e.isManager == false" class="avatar" src="https://s00189591.s3.eu-west-1.amazonaws.com/bartender-icon.jpg" alt="Card image cap">
                        <p class="card-text text-center">
                            €{{e.hourlyWage}} p/hr
                          </p>
                          <p class="card-text text-center">
                            {{e.phone}} | {{e.email}}
                           </p>
                           <p class=" card-text text-green-500 text-center" *ngIf="e.isManager == true">
                            Manager
                           </p>
                           <p class=" card-text text-white-500 text-center" *ngIf="e.isManager == false">
                            Employee
                           </p>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </ng-container>
            </div>
</body>