<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/168-512.png" width="30"
            height="30" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand">WorkWeek</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="">Rota</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="employees">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="employees">Register New Employee</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container-fluid" style="padding-bottom: 20px;">
        <br>
        <!-- Monday -->
        <div class="row">
            <!--Monday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Monday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay1;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(1)">+</a>
                    </div>
                </div>
            </div>
            <!--Monday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Monday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay2;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(2)">+</a>
                    </div>
                </div>
            </div>
            <!--Monday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Monday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay3;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(3)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Tuesday -->
        <div class="row">
            <!--Tuesday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Tuesday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay4;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(4)">+</a>
                    </div>

                </div>
            </div>
            <!--Tuesday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Tuesday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay5;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(5)">+</a>
                    </div>
                </div>
            </div>
            <!--Tuesday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Tuesday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay6;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}}
                                <a class="btn btn-danger" (click)="removeEmployee(ss.scheduledShiftId)"
                                    style="float: right;">X</a>
                            </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(6)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--Wednesday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Wednesday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay7;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(7)">+</a>
                    </div>
                </div>
            </div>
            <!--Wednesday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Wednesday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay8;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(8)">+</a>
                    </div>
                </div>
            </div>
            <!--Wednesday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Wednesday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay9;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(9)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--Thursday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header ">Thursday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay10;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(10)">+</a>
                    </div>
                </div>
            </div>
            <!--Thursday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Thursday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay11;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(11)">+</a>
                    </div>
                </div>
            </div>
            <!--Thursday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Thursday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay12;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(12)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--Friday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Friday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay13;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(13)">+</a>
                    </div>
                </div>
            </div>
            <!--Friday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Friday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay14;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(14)">+</a>
                    </div>
                </div>
            </div>
            <!--Friday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Friday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay15;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(15)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--Saturday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Saturday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay16;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(16)">+</a>
                    </div>
                </div>
            </div>
            <!--Saturday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Saturday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay17;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(17)">+</a>
                    </div>
                </div>
            </div>
            <!--Saturday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Saturday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay18;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(18)">+</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--Sunday Morning-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Sunday Morning</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay19;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(19)">+</a>
                    </div>
                </div>
            </div>
            <!--Sunday Day-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header">Sunday Day</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay20;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(20)">+</a>
                    </div>
                </div>
            </div>
            <!--Sunday Night-->
            <div class="col-md">
                <div class="card text-white bg-dark">
                    <div class="card-header text-white bg-dark">Sunday Night</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngFor="let ss of listScheduledShiftOnADay21;">
                            <li class="list-group-item">{{ss.employee.firstName}} {{ss.employee.lastName}} </li>
                        </ul>
                        <br>
                        <a class="btn btn-success" (click)="openModal(21)">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>